/* width */
::-webkit-scrollbar {
  width: 12px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
  background: white;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #B6CEF4;
  border-radius: 10px;
  }